body {
    background-color: aquamarine;
}
img{
    width: 200px; /*Ancho de la imagem*/
    height: 200px;/*Alto de la imagen*/
}
    tr:hover{
        background-color: blueviolet;

    }
     
    
    
