body {
    background-color: aquamarine;
}
img{
    width: 200px; /*Ancho de la imagem*/
    height: 200px;/*Alto de la imagen*/
}
    tr:hover{
        background-color: blueviolet;

    }
     
    
    input{
        border-radius: 5px;
        border: 3px solid rgb(7, 195, 228);


    }      

    .tipoinputs{
        background-color: rgb(13, 223, 153);
    }
    #nombredepersona{
        height: 50px;
    }




