body {
    background-color: rgb(233, 121, 29);
    
}

input{
    border-radius: 5px;
    border: 3px solid rgb(0, 204, 255);


}      

.tipoinputs{
    background-color: rgb(10, 205, 231);
}
#nombredepersona{
    height: 50px;
}


